<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" href="dashboard.css" />
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <div class="container">
          <a class="navbar-brand text-uppercase fw-bold" id="logo" href="#main-screen">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
              <li class="nav-item">
                <a class="nav-link" href="/chapter4">Game</a>
              </li>
            </ul>
            <ul class="navbar-nav d-flex">
              <li class="nav-item">
                <a class="nav-link" href="#">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- <% users.forEach(function(user){ %>
    <div><%= user.id %></div>
    <div><%= user.username %></div>
    <div><%= user.createdAt %></div>
    <div><%= user.updatedAt %></div>
    <% }) %> -->
    
    <a href="/add" class="btn btn-info mx-5 my-2">+ Add User</a>
    <div class="tables d-flex mx-5 my-1">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">User ID</th>
            <th scope="col">Biodata</th>
            <th scope="col">History</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user){ %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.id %></td>
            <td>kdj comp</td>
            <td>dkos</td>
            <td>
              <a href="/edit/<%= user.id %>" class="btn btn-success">Edit</a>
              <!-- <button type="button" class="btn btn-success">Edit</button> -->
              <a href="/delete/<%= user.id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
